{
    font-family: "Roboto Mono", monospace;
}

body{
    height: 40em;
}
                                /*                    TOPBAR*/


.navbar-fixed{
    height: 100px;
}

nav{
    height: 100px;
}

a.brand-logo.center{
    margin-top: 0.5em;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 1px 7px 1px #4dd0e1;
}

#logo{
    margin-top: 1.9em;
    margin-left: 3em;
}

main
{
    margin-top: 8em;
}



                                                        /*SIDEBAR*/


#slide-out > li > i{
    display: inline-block;
    margin-top: 15px;
    margin-left: 37px;
}

#slide-out > li > a{
    position: relative;
    top: -20px;
    display: inline-block;
    margin-top: -9px;
}

/*.editext
{
  width: 250px;
  text-align: center;
  margin-left: 25%;
} */

#redac{
  font-size: 30px;
}

#article{
  height: 15%;
}

#button{
  margin-left: 25%;
}

#nomalerte{
/*  background-color: #757575;*/
/*  color: #fff;*/
  color: red;

  width: 13%;
  height: 58px;

  margin-left: 11%;
  margin-top: -3em;

  position: absolute;
  display: none;
}



#mailalerte
{
/*  background-color: #757575 ;*/
/*  color: #fff;*/
  color: red;

  width: 13%;
  height: 58px;

  margin-left: 11%;
  margin-top: -3em;

  position: absolute;
  display: none;
}



#maildestalerte
{
/*  background-color: #757575 ;*/
/*  color: #fff;*/
    color: red;

  width: 17%;
  height: 56px;

  margin-left: 6%;
  margin-top: -3em;

  position: absolute;
  display: none;
}



#fichieralerte
{
/*
  background-color: #757575 ;
  color: #fff;
*/
  color: red;

  width: 15%;
  height: 66px;

  margin-left: 44%;
  margin-top: -1em;

  position: absolute;
  display: none;
}

.hover {
    background-color: rgba(0, 0, 0, 0.5);
}
